# This .gitignore file should be placed at the root of your Unity project directory

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.sysinfo/
*.booproj
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.dll
*.exe
*.pdf
*.mid
*.midi
*.wav
*.gif
*.png
*.jpg
*.jpeg
*.psd
*.tga
*.tiff
*.tif
*.mp3
*.mp4
*.mov
*.ogg
*.avi
*.asset
*.cubemap
*.prefab
*.mat
*.unity
*.meta
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
Thumbs.db
*.bak
*.backup
*.tmp
*.temp
*.log
*.swp
*.lock
*.vs/
.vscode/
.idea/
